{% extends "base.jinja" %}
{% block title %}User{% endblock title %}
{% block head %}
<meta charset="utf-8" />
{% endblock head %}
{% block content %}
<h1>Hi, {{ name }}!</h1>
  <p>
    {{ text }}
</p>
{% endblock content %}